.App {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  gap: 1px;
  background-color: gray;
  & > * {
    flex: 1;
    background-color: white;
  }
}

@media screen and (max-width: 500px) {
  .App {
    flex-direction: column;
  }
}
