body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  transition: all 0.5s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4aa3a3;
  border: 1px solid #1d2f2f;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  padding: 0.5em;
  z-index: 2;
}

.button:hover {
  cursor: pointer;
  color: white;
}
